@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img height="300" width="400" src="https://www.cappex.com/sites/default/files/styles/college_hero_desktop/public/images/hero/college/198419_hero.jpg?itok=aP5sNO_T" alt="This should be an image of Duke University. If it is not appearing, CSP is Blocking!" />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
